# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# -------------------------
# Node
# -------------------------
node_modules/
dist/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS Files
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Temporary Storage
# -------------------------
storage/temp/*

# Keep the folder
!storage/temp/.gitkeep

# -------------------------
# Downloads
# -------------------------
storage/downloads/audio/*
storage/downloads/video/*

!storage/downloads/audio/.gitkeep
!storage/downloads/video/.gitkeep

# -------------------------
# PDFs
# -------------------------
storage/pdf/converted/*
storage/pdf/merged/*
storage/pdf/compressed/*
storage/pdf/split/*

!storage/pdf/converted/.gitkeep
!storage/pdf/merged/.gitkeep
!storage/pdf/compressed/.gitkeep
!storage/pdf/split/.gitkeep

# -------------------------
# QR
# -------------------------
storage/qr/*

!storage/qr/.gitkeep

# -------------------------
# Shared
# -------------------------
storage/shared/*

!storage/shared/.gitkeep

# -------------------------
# Reports
# -------------------------
storage/reports/*

!storage/reports/.gitkeep

# -------------------------
# Resumes
# -------------------------
storage/resumes/*

!storage/resumes/.gitkeep

# -------------------------
# Notes
# -------------------------
storage/notes/*

!storage/notes/.gitkeep